.header {
  display: flex;
  justify-content: center;
  margin-top: 34px;
}

.header__logo {
  max-width: 254px;
  min-height: 70px;
  margin-bottom: 90px;
}

@media screen and (max-width: 1024px) {
  .header {
    margin-top: 30px;
  }

  .header__logo {
    min-height: 66px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    margin-top: 20px;
  }

  .header__logo {
    max-width: 188px;
    min-height: 52px;
    margin-bottom: 50px;
  }
}
